body {
  font-family: "Poppins", sans-serif;
}
.weather-plus-app {
  border: 1px solid;
  border-color: #5a6275;
  border-radius: 8px;
  margin: 30px auto;
  margin-bottom: 0%;
  padding: 20px;
  max-width: 600px;
  max-height: 500px;
}
.city {
  font-size: 48px;
  font-weight: 400;
  color: #5a6275;
}
.search-city {
  margin: 20px auto;
}
.search-city-input {
  margin-bottom: 10px;
}
#current-button {
  width: 78px;
  height: 38px;
  padding: 0%;
}
.temperature {
  font-size: 36px;
  color: #f92c3a;
  padding: 0%;
  position: relative;
  left: -16px;
}
#date-time-statement {
  font-size: 18px;
  color: #838998;
}
#units {
  font-size: 20px;
  position: relative;
  bottom: 14px;
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}
.description {
  font-size: 18px;
  text-transform: capitalize;
}
.current-whp {
  color: #5a6275;
  font-size: 17px;
}
ul {
  list-style: none;
}
.whp-metrics {
  text-align: right;
  font-size: 17px;
  color: #ffa726;
}
.forecast {
  color: #838998;
  font-size: 23px;
  font-weight: 300;
  position: relative;
  bottom: 12px;
}
.low-high {
  color: #f92c3a;
  word-spacing: 12px;
  font-weight: 400;
}
footer {
  position: relative;
  left: 144px;
}
#footer-link {
  text-decoration: none;
}
