body {
  font-family: "Poppins", sans-serif;
}
.weather-plus-app {
  border: 1px solid;
  border-color: #5a6275;
  border-radius: 8px;
  margin: 0 auto;
  padding: 12px;
  max-width: 600px;
}
.city {
  font-size: 40px;
  font-weight: 400;
  color: #5a6275;
}
.search-city {
  margin: 20px 0;
}
#current-button {
  font-size: 1;
  width: 78px;
  height: 30px;
  padding: 0%;
  border-width: 1px;
  border-color: #5a6275;
  border-radius: 2px;
  position: relative;
  right: 135px;
  top: 50px;
}
.current-temp {
  position: relative;
  bottom: 44px;
  font-size: 36px;
  color: #f92c3a;
}
.current-time {
  font-size: 24px;
  color: #838998;
  position: relative;
  right: 176px;
  top: 8px;
}
.current-whp {
  color: #5a6275;
  font-size: 17px;
}
ul {
  list-style: none;
  padding: 0;
}
.whp-metrics {
  text-align: right;
  font-size: 17px;
  position: relative;
  right: 10px;
  bottom: 94px;
  color: #ffa726;
}
.title-five-day {
  font-size: 24px;
  color: #f92c3a;
  position: relative;
  top: -70px;
}
.five-day {
  position: relative;
  top: -80px;
  color: #838998;
  font-size: 20px;
  font-weight: 300;
}
.low-high {
  color: #f92c3a;
  word-spacing: 12px;
  font-weight: 400;
}
.hourly {
  position: relative;
  left: 200px;
  bottom: 520px;
  padding: 0;
}
